@import '_variables.scss';
@import '_mixins.scss';

.main{
    &__btn{
        background-color: aqua;
        color: red;
        border-radius: 25px;
        padding: 5px;
        cursor: pointer;

        @include font-setting($robotoFont, bold, 24, 50);
        @media (max-width: $breakpoints768) {
            font-size: 22px;
        }
    }
}