@import '../partials/variables';
@import '../partials/mixins';

.footer {
    @include adaptive-width(2560, 320, 1200, 200);
    
    .container {
        @include flex-block(flex, center, row); 
        align-items: center;
        margin: 50px 0px 20px 0px;
        padding: 0;
    }

    .footer__row{
        @include flex-block(flex, center, row);
    }

    &__address{
        display: flex;
        flex-direction: column;

        .address__data{
            @include font-setting($robotoFont, 400, 14, 16);
            color: black;
        }
    }
}