@import '_variables.scss';
@import '_mixins.scss';

body{
    &.locked{
        overflow: hidden;
    }
}

.wrapper{
    padding: 0 40px;
    @include flex-block(flex, center, column);
    align-items: center;
    flex: 1 1 auto;
}

.container{
    @include adaptive-width(2560, 320, 1200, 200);
    @include flex-block(flex, center, column);
    align-items: center;
}

.main{
    &__title{
        @include font-setting($montserratFont, bold, 48, 59);
        @media (max-width: $breakpoints768) {
            font-size: 36px;
        }
    }
    &__subtitle{
        @include font-setting($montserratFont, bold, 36, 20);
        @media (max-width: $breakpoints768) {
            font-size: 24px;
        }
    }
    &__description{
        @include font-setting($montserratFont, bold, 24, 50);
        @media (max-width: $breakpoints768) {
            font-size: 22px;
        }
    }
}