.header {
    @include adaptive-width(2560, 320, 1200, 200);
    &__row {
        @include flex-block(flex, space-between, row);
        width: 100%;
    }

    &__logo {
        padding-right: 40px
    }

    &__img {
        &_wrap {
        }
    }

    &__menu {
        @include flex-block(flex, space-between, row);
        @include adaptive-width(2560, 768, 400, 200);
    }

    .container {
        padding: 20px 0px;
        align-items: flex-start
    }
    .menu {
        
        &__list {
            @include adaptive-width(2560, 768, 600, 200);
            @include flex-block(flex, space-between, row);
            flex: 1 1 auto;
        }

        &__item {
            display: flex;
        }

        &__link {
        }
    }
}
