.about{
    .container{
        background-color: $base-black;
        width: 100%;
        height: 100vh;
        padding: 0px 0px 0px 0px;

        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 270px auto 125px auto;

        max-width: 1422px;
    }

    &__desc{
        &--block{
            display: flex;
            flex-direction: row;
            margin: 90px 0px 0px 0px;
            p{
                padding: 0px 40px 0px 0px;
                &:last-child{
                    padding: 0px 0px 0px 0px;
                }
            }
        }
    }
    .marque{
        &__text{
            font-family: $font-firaCode;
            font-style: normal;
            font-weight: 700;
            font-size: 128px;
            line-height: 168px;

            letter-spacing: 0.05em;
            color: $base-black;
            text-shadow: 
                -0   -1px 0   #B5B823,
                0   -1px 0   #B5B823,
                -0    1px 0   #B5B823,
                0    1px 0   #B5B823,
                -1px -0   0   #B5B823,
                1px -0   0   #B5B823,
                -1px  0   0   #B5B823,
                1px  0   0   #B5B823,
                -1px -1px 0   #B5B823,
                1px -1px 0   #B5B823,
                -1px  1px 0   #B5B823,
                1px  1px 0   #B5B823,
                -1px -1px 0   #B5B823,
                1px -1px 0   #B5B823,
                -1px  1px 0   #B5B823,
                1px  1px 0   #B5B823;
            }
    }
}