.similar {    
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        width: 100%;
		padding: 0;
		max-width: 856px;
        margin: 100px auto 0 auto;
        
        @media (max-width: $maxMobile) {
            display: none;
		}
    }

	&__row {
        display: flex;
	}

	&__list {
        width: 100%;
	}

	&__item {
		width: 33.333%;
        &:nth-child(2){
            margin: 0 10px 0 10px ;
        }

        @media (max-width: $maxTablet) {
			width: 45%;
			margin: 0 auto 0 auto;
        	&:last-child{
                display: none;
            }
		}
	}

	&__img {
		width: 100%;
	    text-align: center;
	    overflow: hidden; 
	}

	&__img-wrap {
	    position: relative;
		overflow: hidden;
		
		&:before{
			padding-top: 50%;
	        content: '';
	        display: block;
		}
		&::after{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1; 
			content: '';
	        display: block;
			opacity: 0;
			background: linear-gradient(0deg, rgba(53, 76, 151, 0.5), rgba(53, 76, 151, 0.5));
			transition: all ease 0.3s;
		}
		
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }

		&:hover {
			&::after{
				opacity: 1;
			}

			.portfolio__img-text{ 
				display: block;
			}
		}
	}

	&__img-text {
        width: 100%;
	    position:absolute;
        left:0;
        bottom:0;
		z-index: 2;
		font-weight: 900;
		font-size: 48px;
		line-height: 59px;
		padding-bottom: 15px;

		@media (max-width: $maxDesc) {
			font-size: 36px;
			line-height: 44px;
		}
		
		max-height: 100%;
		overflow-y: auto;
        background: $whiteText; 
		word-break: break-all; 

		transition: all ease 0.3s;
		transform: translate(0, 100%);
	}

    &__img:hover &__img-text , &__img:focus &__img-text {
		transition: transform ease 0.3s;
		transform: translate(0, 0);
	}

	&__img:hover &__title .main__desc{
	    transition-delay: 0.15s;   
	}

	&__img:hover &__title .main__desc {
		transition-delay: 0.25s;
	}

	&__title {
        font-family: $montserratFont;
	    font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
	    color: $accentText;  
	    padding: 10px 0 0 10px;
	    text-align: left;
		@media (max-width: 1440px) {
			font-size: 24px;
			line-height: 29px;
		}
	}
    .main {
        &__title {
            margin-bottom: 47px;
        }

        &__desc {
            text-align: left;
            padding: 0 0 0 30px;
            width: 225px;
        }
    }
}
