.card-about {
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        width: 100%;
		padding: 0;
		max-width: 856px;
        margin: 100px auto 0 auto;
        @media (max-width: 800px) {  
            max-width: 610px;
            margin: 95px auto 0 auto;
        }

        @media (max-width: 400px) {  
            max-width: 252px;
            margin: 95px auto 0 auto;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        &__item {
            &_row {
                display: flex;
                flex-direction: row-reverse;
                margin-top: 25px;
            }
        }
	}

    &__row {
        display: flex;
        flex-direction: row;
	}

    .column {
		&__item {
			&_row {
                display: flex;
                flex-direction: row-reverse;
                width: 100%;
                @media (max-width: 800px) {
                    flex-direction: column;
                }
			}
		}
    }
    
    .main {
        &__title {
            color: $accentText;
            justify-content: flex-start;

            padding-bottom: 25px;
            @media (max-width: 320px) {
                padding-bottom: 10px;
            }
        }

        &__desc {
            justify-content: flex-start;
        }
    }

    .row {
        display: flex;
        flex-direction: row;

        &__item {

            &_img {
                display: flex;
                width: 100%;
                
                @media (max-width: 800px) {
                    flex-wrap: wrap;
                }

                img{
                   padding: 0 18px 0 0;
                   
                   width: 100%;

                    @media (max-width: 800px) {
                        padding-bottom: 25px;
                    }
                }
                :nth-child(4)
                {
                    @media (max-width: 800px) {
                        padding-bottom: 25px;
                    }
                }
            }

            &_img-four__img {
                img{
                    width: 24%;
                    @media (max-width: 800px) {
                        width: 48%;
                    }
                }
            }

            &_img-four__img-and-big__img {
                
                
                .row__item_img-four__img {
                    flex-direction: column;

                    img{
                        width: 48%;
                        min-width: 116px;
                        padding: 0 20px 20px 0;
                    }
                }
            }

            &_img-video {
                position: relative;
            }
        }
    }

    .text-under-img {
        margin: 0 0 25px 0;
    }

    .text-right-img{
        padding-left: 20px;
        width: 45%;
        @media (max-width: 768px) {
            padding: 0 0 25px 0;
            width: 100%;
        }
    }

    .text-bottom-img {
        margin: 0 0 0 0;
    }
    .video {

        &__circle {
            position: absolute;
            
            width: 58px;
            height: 58px;
            border-radius: 150px;
            background: linear-gradient(180deg, #84D3FF 0%, #10A9FF 100%);
            overflow: auto;
            margin: auto;
            top: 0; left: 0; bottom: 0; right: 0;
        }

        &__triangle {
            position: absolute;
           
            width: 21.43px;
            height: 24.38px;

            background: linear-gradient(to left bottom, transparent 50%,  #fff 50%) top / 100% 50% no-repeat, linear-gradient(to left top, transparent 50%, #fff 50%) bottom / 100% 50% no-repeat;

            overflow: auto;
            margin: auto;
            top: 0; left: 0; bottom: 0; right: 0;
        }
    }
}