.services {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    
    .container {
        max-width: 713px;
        margin: 160px 0 0 0;
        padding: 0;

        @media (max-width: $maxMobile) {
            width: 90%;
            margin: 80px 0 0 0;
        }

        position: relative;

        .services {
            
            &__ellipse1 {
                position: absolute;
                z-index: -10;
                background: $gradientLight;
                width: 122px;
                height: 122px;
                border-radius: 100px;
                left: calc(50% + 25px);
                top: 40px;

                animation: move-bubbles 25s infinite linear;
                pointer-events: none;

                @media (max-width: $maxMobile) {
                    left: calc(50% + 25px);
                    top: 260px;
                }
            }

            &__ellipse2 {
                position: absolute;
                z-index: -10;
                background: $gradientLight;
                width: 80px;
                height: 80px;
                border-radius: 100px;
                left: calc(50% - 400px);
                top: 175px;

                animation: move-bubbles 20s infinite linear;
                pointer-events: none;

                @media (max-width: $maxMobile) {
                    display: none;
                }
            }

            &__ellipse3 {
                position: absolute;
                z-index: -10;
                background: $gradientLight;

                width: 136px;
                height: 136px;
                border-radius: 100px;
                left: calc(50% - 375px);
                top: 400px;

                animation: move-bubbles 25s infinite linear;
                pointer-events: none;   
                @media (max-width: $maxMobile) {
                    display: none;
                }
            }

            &__ellipse4 {
                position: absolute;
                z-index: -10;
                background: $gradientLight;
                width: 24px;
                height: 24px;
                border-radius: 100px;
                left: calc(50% - 90px);
                top: 720px;

                animation: move-bubbles 19s infinite linear;
                pointer-events: none;
                @media (max-width: $maxMobile) {
                    display: none;
                }
            }

            &__ellipse5 {
                position: absolute;
                z-index: -10;
                background: $gradientLight;
                width: 38px;
                height: 38px;
                border-radius: 100px;
                left: calc(50% + 350px);
                top: 570px;

                animation: move-bubbles 20s infinite linear;

                left: calc(50% + 350px);
                    top: 570px;
            }

            &__ellipse6 {
                position: absolute;
                z-index: -10;
                background: $gradientLight;
                width: 92px;
                height: 92px;
                border-radius: 100px;
                left: calc(50% + 325px);
                top: 300px;

                animation: move-bubbles 25s infinite linear;
                
                @media (max-width: $maxMobile) {
                    display: none;
                }
            }
        }
    }

	&__column {
        display: flex;
        flex-direction: column;
        align-items: center; 
	}

	&__block {
        z-index: 10;
        width: 100%;

        box-shadow:0px 16px 16px rgba(16, 169, 255, 0.12);
        background: rgba(255, 255, 255, 0.1);
        border: 2px solid rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(5px);

        position: relative; 
        border-radius: 62px;
        padding: 0 53px 0 0;
        backdrop-filter: blur(30px);

        @media (max-width: $maxMobile) {
            padding: 40px 25px 40px 0;
        }

        &:nth-child(3){
            margin: 80px 0 80px 0;
        }
        transition: transform ease 2s;
        &:hover{
            transform: translate(0, -9px);
        }
	} 

    &__title{
        @media (max-width: $maxTablet) {
            font-size: 24px;
        }
    }

    .block {
        &__row{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            max-height: 112px;
            position: relative;
            

            &::before{
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                content: " ";
                display: inline-block;
                vertical-align: middle;
                background: $gradient;
                width: 24px;
                height: 24px;
                border-radius: 62px;
                left: 44px;

                @media (max-width: $maxMobile) {
                    display: none; 
                }
            }
        }

        &__column{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            width: 100%;
            justify-content: flex-end;
            margin-left: 102px; 

            @media (max-width: $maxMobile) {
                padding-left: 50px; 
                margin-left: 0;
            }        
        }
    }
    .main{
        &__title{
            margin-bottom: 50px;
        }

        &__desc {
            width: 100%;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 105.9%;

            color: $bluText;

            padding: 10px 0 15px 0;
        }   
    }    
}