.works {
	
	.container-all {
		@media (max-width: $maxDesc) {
			position: relative;
			left: 15%;
			overflow-x: hidden;
			margin-left: 0;
		}
		@media (max-width: 900px) {
				position: static;
				overflow-x: hidden;
		}
	}
	.container {
		display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: flex-start;
		width: 100%;
		max-width: 1440px;
		margin: 136px auto 0 auto;

		@media (max-width: 2560px) {
			padding: 0;
		}
		@media (max-width: $maxDesc) {
			padding: 0 20px;
		}
		@media (max-width: $maxMobile) {
			padding: 0;
		}

		&__completed-list {
			display: flex;
			width: 100%;
			max-width: 1440px;
			margin: 74px auto 0 auto;
			
			@media (max-width: 900px) {
				margin: 71px auto 0 auto;
			}
			@media (max-width: $maxMobile) {
				margin: 76px 0 0 0;
			}
		}
	}

	&__nav-list {
		padding: 0 40px;
	}

	.nav {
		&__list-item {
			padding: 12px 0 12px 0;
			display: flex;
		}
	}

	.main {
		&__title {
			padding-bottom: 10px;
			justify-content: flex-start;
			font-weight: 900;
            background: linear-gradient(135deg,#84D3FF 0%, #10A9FF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
		}

		&__desc {
			font-size: 18px;
			line-height: 112.9%;
			p{
				padding: 10px 0 15px 0;
			}
			span{
				font-size: 24px;
				line-height: 105.9%;
				color: $bluText;
				font-weight: bold;
				white-space:normal;
			}
		}
	}

	.completed {
		&__list-column {
			display: flex;
			flex-direction: column;
			width: 100%;
			@media (max-width: $maxMobile) {
				padding: 0 ;
			}
		}

		&__item {
			display: flex;
			justify-content: space-between;
			
			max-width: 1440px;
			
			border: 2px solid rgba(255, 255, 255, 0.01);
			box-sizing: border-box;
			border-radius: 30px;

			&:last-child{
				margin-bottom: 50px;
			}

			.works{
				&__list-btn{
					@media (max-width: 2560px) {
						display: block;
					}
					@media (max-width: 900px) {
						display: none;
					}
				}
			}
			
			transition: easy 0.5s;
			&:hover{
				backdrop-filter: blur(32px);
				box-shadow: (8px 24px 32px rgba(55, 77, 152, 0.15));
				background: rgba(250, 251, 254, 0.1);
				.works{
					&__list-btn{
						opacity: 1;
						@media (max-width: 900px) {
							opacity: 0;
						}
					}
				}
			}
			@media (max-width: $maxMobile) {
				&:hover{
					backdrop-filter: blur(0px);
					border-radius: 0px;
				}				
				border-radius: 0px;
				box-shadow: (8px 24px 32px rgba(55, 77, 152, 0.15));
			}
		}

		&__item-row {
			display: flex;
			flex-direction: row;
			width: 100%;
			@media (max-width: 900px) {
				flex-direction: column;
			}
		}

		&__item-column-half {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
			width: 100%;
			&:first-child{
				width: 35%;
				@media (max-width: 900px) {
					padding: 30px 30px 0 30px;
				}
				padding: 30px;
			}

			@media (max-width: 900px) {
				&:first-child{
					width: 100%;
				}
				width: 100%;
			}
		}

		&__title {
			font-family: Montserrat;
			font-style: normal;
			font-weight: bold;
			font-size: 48px;
			line-height: 59px;
			color: $accentText;
			@media (max-width: $maxMobile) {
				font-size: 36px;
				line-height: 44px
			}
		}

		&__tags-list {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

		&__item-img {
			overflow: hidden;
			padding-left:20px;
			width: 100%;
			height: 100%;
		}

		&__img-wrap {
			width: 100%;
			height: 100%;
			text-align: center;
			overflow: hidden; 
			img{
				border-radius: 50px;
				width: 100%;
				height: 100%;
				min-height: 300px;
				object-fit: cover;
			}
			@media (max-width: 2560px) {
				padding:25px 30px 30px 0;
			}
			@media (max-width: maxMobile) {
				padding: 25px 10px 30px 10px ;
			}
		}
	}

	.element-animation {    
    	opacity: 0;
    	transform: translateY(0%);
	}
	.element-animation.element-show {
		opacity: 1;
		transition: all 0.5s;
		transform: translateY(0%);
	}
	
	.tags {
		&__item {
			border: 1px solid $accentText;
			box-sizing: border-box;
			border-radius: 25px;
			margin: 10px 10px 0 0;
			a{
				display:block;
				color: $accentText;
				font-weight: normal;
				font-size: 12px;
				line-height: 112.9%;
				padding: 5px 10px 5px 10px;
			}
		}
	}
}
