/*--Fira-Code--*/
@font-face {
    font-family:"Fira-Code";
    src: url('/src/fonts/FiraCode-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family:"Fira-Code";
    src: url('/src/fonts/FiraCode-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display:swap;
}

/*--Fira-Sans--*/

@font-face {
    font-family:"Fira-Sans";
    src: url('/src/fonts/FiraSans-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display:swap;
}
@font-face {
    font-family:"Fira-Sans";
    src: url('/src/fonts/FiraSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display:swap;
}
@font-face {
    font-family:"Fira-Sans";
    src: url('/src/fonts/FiraSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display:swap;
}
