@import '_variables.scss';
@import '_mixins.scss';

body{
    &.locked{
        overflow: hidden;
    }
    background-color: $background;
    color: white;
}

.wrapper{

}

.container{

}

.main{
    &__title{
        font-family: $font-firaCode;
        font-style: normal;
        font-weight: 700;
        font-size: 128px;
        line-height: 168px;
        letter-spacing: 0.05em;

        color: $dark-yelow;
    }

    &__subtitle{
        font-family: $font-firaSans;
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 140%;
        letter-spacing: 0.05em;

        color: $base-white;
    }

    &__desc{
        font-family: $font-firaSans;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 145%;
        letter-spacing: 0.05em;

        color: $base-white;
    }
}
.marquee{
    //overflow: hidden;
    font-family: $font-firaCode;
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 168px;

    letter-spacing: 0.05em;
    color: $base-black;
    text-shadow: 
        -0   -1px 0   #B5B823,
        0   -1px 0   #B5B823,
        -0    1px 0   #B5B823,
        0    1px 0   #B5B823,
        -1px -0   0   #B5B823,
        1px -0   0   #B5B823,
        -1px  0   0   #B5B823,
        1px  0   0   #B5B823,
        -1px -1px 0   #B5B823,
        1px -1px 0   #B5B823,
        -1px  1px 0   #B5B823,
        1px  1px 0   #B5B823,
        -1px -1px 0   #B5B823,
        1px -1px 0   #B5B823,
        -1px  1px 0   #B5B823,
        1px  1px 0   #B5B823;
}

.preloader{
    &__img-wrap{
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10000000001;
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
  display: none;
}