@import '_variables.scss';
@import '_mixins.scss';

body{
    &.locked{
        overflow: hidden;
    }
    background-color: $background;
    color: white;
}

.wrapper{
    //margin: 0 40px;
    
}

.container{

}

.main{
    &__title{
        font-family: $font-firaCode;
        font-style: normal;
        font-weight: 700;
        font-size: 128px;
        line-height: 168px;
        letter-spacing: 0.05em;

        color: $dark-yelow;
    }

    &__subtitle{
        font-family: $font-firaSans;
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 140%;
        letter-spacing: 0.05em;

        color: $base-white;
    }

    &__desc{
        font-family: $font-firaSans;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 145%;
        letter-spacing: 0.05em;

        color: $base-white;
    }
}

