/*--fonts*/
$base-font-size: 16px;
$font-firaCode: Fira-Code;
$font-firaSans: Fira-Sans;


/*--Container--breakpoints*/
$containerWidth: 1200;


$breakpoint2560: 2559.98 + px;
$breakpoints1440: 1439.98 + px;
$mobile-menu-breakpoint: 899.98px;
$breakpoints768: 767.98 + px;
$breakpoints600: 599.98 + px;
$breakpoints400: 399.98 + px;

$burgerBreakPoints: $mobile-menu-breakpoint;

/*--color--*/
$black: #000000;
$white: #fff;
$semi-white: #F3F4E3;

$base-white: #DADADA;
$base-black: #202020;

$accent-yelow: #D3D72B;
$dark-yelow: #B5B823;

$background: #C6C6B6;

$text-def: #343444;