$black: #000000;
$white: #fff;
$mobile-menu-breakpoint: '990px';

$base-font-size: 16px;

$bigDesc: '2560px';
$maxDesc: '1440px';
$maxTablet: '768px';
$maxMobile: '600px';

/*--fonts*/
$noahFont: Noah;
$montserratFont: Montserrat;
$robotoFont: Roboto;


/*--color--*/
$whiteText: #FFFFFF;
$mainBG:  linear-gradient(90.07deg, #E3EDF7 0.05%, #C5E3FF 99.93%);
$bluText: #354C97;
$accentText: #10A9FF;
$whiteText: #FAFBFE;
$textLight: #8697C2;
$gradient: linear-gradient(180deg, #84D3FF 0%, #10A9FF 100%);
$gradientLight: linear-gradient(30.44deg, rgba(16, 169, 255, 0.17) 12.64%, rgba(250, 251, 254, 0) 101.54%);
$linearGradient: linear-gradient(90.02deg, rgba(16, 169, 255, 0.17) 0.01%, rgba(250, 251, 254, 0) 71.59%);