@import '../../../scss/partials/variables';
.header{
    .navbar{
        &__mobile-btn{
            display: none;
            width: 22px;
            height: 22px;
    
            span{
                display: block;
                width: 22px;
                height: 3px;
                background-color: black;
                border-radius: 2px;
                margin-bottom: 4px;
                transition: 0.4s;
            }
        }
    }
    
    &-mobile{
        .nav {
            &__list{
                position: fixed;
                top: 0;
                right: -100%;
                opacity: 0;
                width: 100%;
                height: 100%;
                z-index: 100;
                background: $white;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                overflow: scroll;
            }

            &__item{
                font-size: 1.5em;
                margin-bottom: 30px;
            }

            &__mobile-btn{
                display: block; 
            }
        }

        &.active{
            .navbar {
                &__logo {
                    z-index: 9999;
                }

                &__list{
                    visibility: visible;
                    transform: translate(-100%, 0);
                    padding: 50px 0 0 25px;
                    opacity: 1;
                    transition: all 0.3s ease;
                }   

                &__mobile-btn{
                   
                    z-index: 9999;

                    .bar1 {
                        -webkit-transform: rotate(-45deg) translate(-9px, 9px);
                        transform: rotate(-45deg) translate(-9px, 9px);
                    }

                    .bar2 {
                        opacity: 0;
                    }

                    .bar3 {
                        -webkit-transform: rotate(45deg) translate(-1px, -1.5px);
                        transform: rotate(45deg) translate(-1px, -1.5px);
                    }
                }
            }
        }
    }
}